<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @attendee.meeting_id %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @attendee.confirmed %>
</p>

<p>
  <strong>Checkedin:</strong>
  <%= @attendee.checkedin %>
</p>

<p>
  <strong>User:</strong>
  <%= @attendee.user_id %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
